<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/menu" routerLinkActive="active">Меню <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dish" routerLinkActive="active">Блюда</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product" routerLinkActive="active">Продукты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/productmovement" routerLinkActive="active">Приход продуктов</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="devMode" routerLink="/imagetest" routerLinkActive="active">Загрузка картинок</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/menu" routerLinkActive="active">Меню</a>
          <a class="dropdown-item" routerLink="/dish" routerLinkActive="active">Блюда</a>
          <a class="dropdown-item" routerLink="/product" routerLinkActive="active">Продукты</a>
          <a class="dropdown-item" routerLink="/productmovement" routerLinkActive="active">Приход продуктов</a>
          <a class="dropdown-item" *ngIf="devMode" routerLink="/imagetest" routerLinkActive="active">Загрузка картинок</a>
        </div>
      </li>
      <li class="nev-item">
          <a class="nav-link" *ngIf="url == '/menu'" style="cursor:pointer" (click)="addMenu($event)">Добавить меню</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>