<div class="modal-container">
  <div class="modal-header">
    <h4 class="modal-title">Выбор продуктов</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-content-data">
    <div class="input-group" *ngFor="let dish of dishes">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">{{dish.Name}}</span>
      </div>
      <select class="custom-select" id="inputGroupSelect01" (change)="setCount($event, dish)">
        <option value="0" selected>Выбрать</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('cancel')">Отменить</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(selectedDishes)">Сохранить</button>
  </div>
</div>